accelerate==1.11.0
chess==1.11.2
datasets==4.4.1
Jinja2==3.1.6
numpy==2.2.6
openai==2.8.1
pandas==2.3.3
pyarrow==22.0.0
torch==2.7.1
torchaudio==2.7.1
torchvision==0.22.1
tqdm==4.67.1
transformers==4.57.1
vllm==0.10.1
wandb==0.23.0
-r chess-env/requirements.txt